@model IEnumerable<TblClb>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link custom-color" asp-controller="Home" asp-action="CauThuTheoCauLacBo" asp-route-mact="@item.IdClb">@item.TenClb</a>
    </li>
    
}
