@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản lí bóng đá</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../Test/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../Test/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../Test/css/startmin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../Test/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.../Test/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">ADMIN</a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="nav navbar-nav navbar-left navbar-top-links">
                <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
            </ul>

            <ul class="nav navbar-right navbar-top-links">
               
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> admin <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout", "Access")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="DanhSachCauThu">Danh Sách Cầu Thủ </a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="DanhSachUser">Danh Sách Người Dùng</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="DanhSachTranDau">Danh Sách Trận Đấu</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="DanhSachQuocGia">Danh Sách Quốc Gia</a>
                                </li>
                                 <li>
                                    <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="DanhSachCLB">Danh Sách Câu Lạc Bộ</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="DanhSachBanThang">Danh Sách Bàn Thắng</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="DanhSachHLV">Danh Sách Huấn Luyện Viên</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="DanhSachGiaiDau">Danh Sách Giải Đấu</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                      
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">ADMIN</h1>
                        @RenderBody()
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../../Test/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../Test/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../Test/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../Test/js/startmin.js"></script>

</body>
</html>
