@model IEnumerable<ThucTapChuyenMonLTW.Models.TblGiaiDau>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhSachGiaiDau";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h1>DanhSachGiaiDau</h1>

<p>
    <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="ThemGiaiDau">Create New</a>
</p>
<p>
    @TempData["Message"]
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên giải đấu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenGiaiDau)
            </td>
            <td>
                    <a asp-action="SuaGiaiDau" asp-route-magd="@item.IdGiaiDau">Edit</a> |
                    <a asp-action="XoaGiaiDau" asp-route-magd="@item.IdGiaiDau">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
