@model ThucTapChuyenMonLTW.Models.TblTranDau
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemTranDau";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h1>ThemTranDau</h1>

<h4>TblTranDau</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemTranDau">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTran" class="control-label"></label>
                <input asp-for="IdTran" class="form-control" />
                <span asp-validation-for="IdTran" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioTd" class="control-label"></label>
                <input asp-for="GioTd" class="form-control" />
                <span asp-validation-for="GioTd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaythidau" class="control-label"></label>
                <input asp-for="Ngaythidau" class="form-control" />
                <span asp-validation-for="Ngaythidau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoiNha" class="control-label"></label>
                <select asp-for="DoiNha" class ="form-control" asp-items="ViewBag.DoiNha"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoiKhach" class="control-label"></label>
                <select asp-for="DoiKhach" class ="form-control" asp-items="ViewBag.DoiKhach"></select>
            </div>
            <div class="form-group">
                <label asp-for="KetQua" class="control-label"></label>
                <input asp-for="KetQua" class="form-control" />
                <span asp-validation-for="KetQua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaiDau" class="control-label"></label>
                <select asp-for="GiaiDau" class="form-control" asp-items="ViewBag.GiaiDau"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DanhSachTranDau">Back to List</a>
</div>
