@model ThucTapChuyenMonLTW.Models.TblHlv
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemHLV";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h1>ThemHLV</h1>

<h4>TblHlv</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemHLV">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdHlv" class="control-label"></label>
                <input asp-for="IdHlv" class="form-control" />
                <span asp-validation-for="IdHlv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHlv" class="control-label"></label>
                <input asp-for="TenHlv" class="form-control" />
                <span asp-validation-for="TenHlv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClb" class="control-label"></label>
                <select asp-for="IdClb" class ="form-control" asp-items="ViewBag.IdClb"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ngaysinh" class="control-label"></label>
                <input asp-for="Ngaysinh" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quoctich" class="control-label"></label>
                <input asp-for="Quoctich" class="form-control" />
                <span asp-validation-for="Quoctich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DanhSachHLV">Back to List</a>
</div>

