
@{
    ViewData["Title"] = "TimKiem";
    Layout = "~/Views/Shared/thuctap.cshtml";
}

<h1 class="col-sm-12" style="text-align:center">Các cầu thủ</h1>
@model IEnumerable<ThucTapChuyenMonLTW.Models.TblCauThu>
@if (Model.Count() == 0)
{
    <p>Không tìm thấy kết quả nào.</p>
}
else{
@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="player-card">
            <a asp-controller="Home" asp-action="ChiTietCauThu"
           asp-route-mact="@item.IdCauThu">
                <img src="../anhct/@item.Anh" alt="Player Image">
            </a>
            <h2>@item.Hoten</h2>
            <span>@item.Vitri</span>
        </div>
    </div>
}
}


